<div class="well hoverwell thumbnail">
  <h2>Event: {{event.name}}</h2>
  <p>Date: {{event?.date}}</p>
  <p>Time: {{event?.time}}</p>
  <p>Price: ${{event?.price}}</p>
  <p *ngIf="event?.location">Location: {{event.location.address}},
    {{event.location.city}} {{event.location.country}}</p>

  <ng-container *ngIf="!event.booked; then notEventBooked; else eventBooked"></ng-container>
  <ng-template #notEventBooked>
    <button class="btn mx-4 not-booked btn-warning px-2">Not booked</button>
  </ng-template>
  <ng-template #eventBooked>
    <button class="btn booked btn-success px-2">Booked!</button>
  </ng-template>

  <button
  class="btn btn-light"
  [ngClass]="SetStyleFromTime()"
  [class.btn-success]="event?.time === '8:00 am'"
  [class.btn-light]="event?.time === '9:00 am'"
  [class.btn-danger]="event?.time === '10:00 am'"
  [ngSwitch]="event?.time">
    <span *ngSwitchCase="'8:00 am'">Early Start</span>
    <span *ngSwitchCase="'10:00 am'">Late Start</span>
    <span *ngSwitchDefault>On Time Start</span>
  </button>

  <div class="input-group mb-3">
      <input #passwordField (keyup.enter)="SubmitHandler(passwordField.value)" type="text" class="form-control pad-top" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append w-25">
        <button #passwordSubmit (click)="SubmitHandler(passwordField.value)" class="btn btn-outline-secondary" type="button">Submit!</button>
      </div>
    </div>

  <hr/>

  <h4 *ngIf="event?.presenter">Presenter: <strong>{{event.presenter}}</strong></h4>
  <img [hidden]="!event?.picture" src={{event.picture}} height="500px"/>

  <button class="btn btn-primary" (click)="logFoo()">
    <ng-container *ngIf="!event.booked; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      Book me!
    </ng-template>
    <ng-template #elseTemplate>
      Unbook :(
    </ng-template>

  </button> <br/>
</div>
